<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BLOGS</h1>
    {% for tr in blogs %}
    <h1>{{tr.title}}</h1>
    <h2> {{tr.content}}</h2><br>
    <h3> Author: {{tr.author}}, created on {{tr.createdDate}}</h3><br>
    {% comment %} <a href="{% url 'update' id=tr.id %}" class="btn btn-success">edit</a> {% endcomment %}
    <a href="/delete/{{ tr.id }}" class="btn btn-success">delete</a>
    {% endfor %}
</body>
</html>